/* styling for switch mode */
body[data-mode="normal"] {
  background-color: #23a0e8;
}

body[data-mode="night"] {
  background-color: #000000;
}
/* end styling for the switch mode */

/* Styling for the calculatior */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.calculator_container {
  width: 35%;
  height: 40rem;
  background-color: rgb(228, 234, 238);
 margin: 3rem auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(248, 248, 248, 0.921);
  font-family: monospace;
  color: #fff !important;
}


.screen {

  border: 2px solid transparent;
  width: 100%;
  height: 14rem;
  background-color: #fff;
  border-radius: 10px;
  color: #4e4949;
  overflow: hidden;
}

#result_screen{
  background-color: inherit;
  border-radius: inherit;
  text-align: right;
  font-size: 3rem;
  margin-top:79px; 
}

.button_groups {
  height: 60%;
  margin-top: 10px;
  margin-left: 3px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

button {
  background-color: inherit;
  font-family: monospace;
  font-size: xx-large;
  font-weight: 800;
  border: none;
  width: 82%;
}

button:hover{
  background-color: #4e4949;
    color: #fff;
    border-radius: 60%;
    cursor: grab;
    transition: 3s;
    
}

.circled {
  width: 82%;
  border-radius: 60%;
  background-color: #bec7d6e2;
}

.circled:hover{
    background-color: #edc523;
    color:#000;
}

.blue {
  background-color: rgba(0, 26, 255, 0.815);
  color: #fff;
}
/* end styling for the calculator */

@media screen and (max-width:1000px){
    .calculator_container{
        width: 80%;
        margin: 3rem auto;
    }
}
/* @media screen and (max-width:420px){
    .calculator_container{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 15%;
    }
}
@media screen and (max-width:1020px){
    .calculator_container{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 15%;
    }
}
@media screen and (max-width:1550px){
    .calculator_container{
        width: 40%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 15%;
    }
}
@media screen and (max-width:1000px){
    .calculator_container{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 15%;
    }
} */